# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environments
.env
venv/
env/
ENV/
.venv/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/

# Database
*.sqlite3
*.db

# Others
*.bak
*.swp
*.swo

# Coverage
htmlcov/
.coverage
.tox/
.coverage.*
.cache

# Jupyter
.ipynb_checkpoints

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Test
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/
