option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: eConsultancy.settings_free_tier
    PYTHONPATH: /var/app/current
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t3.micro
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance